
* {
    box-sizing: border-box;
}

:root {
    --light: pink;
    --dark: black;
    --small: rgb(241, 245, 246);
    --background: rgb(248, 247, 247);
    --forgetmenot: rgb(8, 8, 9);
    --shadow: rgb(7, 7, 7);

}

.title {
    font-family: 'Times New Roman', Times, serif;
    float:inline-start;
    color: rgb(229, 229, 236);
    display: inline-flex;
    display: centre;
}

header {
padding-bottom: 20px;
box-shadow: 0 5px 35px var(--forgetmenot);
}


.reddit {
  float:left;
  width: 48%;
  padding: 10px;
  height: 100%; 
}
#map{
    float:left;
    width: 48%;
    padding: 10px;
    height: 100%; 
  }

.row {
  content:normal;
  display:inline;
  padding-top: 5%;
  align-items: center;
  justify-content: center;  
}


body {
    margin: 5px;
    padding: 5px;
    font-family: himalaya script;
    color: var(--dark);
    background-color: var(--background);
    line-height: 1.5;
    max-height:fit-content;

}

header {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-display: centre;
    background-color: var(--background);
    box-shadow: 0 5px 35px var(--forgetmenot);
    }

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  
  /* The Close Button */
.close {
color: rgb(26, 26, 29);
float: right;
font-size: 28px;
font-weight: bold;
}
  
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
       

@media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column; }
    div {font-size: 20px; background-size: contain; }
    body { background-color: white;
    image-rendering: crisp-edges; width: auto;
    

    }
}

body, html {
    height: 100%;
  }

  body {
    background: #f7f8f9;
    margin: 0;
    font-family: 'Oswald';
  }

    
  .content {
    position: absolute;
    top: 600px;
    background: #415a6c;
    width: 100%;
    min-height: 1500px;
  }
    .content h1 {
      color: #fff;
      font-size: 2em;
      text-transform: uppercase;
      text-align: center;
    }
  
  .stick {
      position: fixed;
      top: 0;
  }

  body, html {
    height: 100%;
  }
  
  .parallax1 {
    /* The image used */
    background-image: url('earth.jpeg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .parallax2 {
    /* The image used */
    background-image: url('hands.jpeg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax3 {
    /* The image used */
    background-image: url('vintage.webp');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(195, 184, 184);
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

#first {
    height:150px; 
    width: 70; 
    font-size:36px;
    text-align: center;
    position: absolute;
    color: #f7f8f9;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

#second {
    height:150px; 
    width: 70; 
    background-color:rgb(239, 242, 242);
    font-size:36px;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;

}

#third {
    height:150px; 
    width: 70; 
    background-color:rgb(239, 242, 242);
    font-size:36px;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;

}

#page1btn {

    text-align: center;
    background-color: rgb(7, 6, 6);
    color: rgb(246, 242, 242);
    padding: 20px;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 0;
    position: absolute;
    top: 170%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.containerbtn1 { 
    height: 200px;
    position: relative;
    
  }

.openBtn {
    cursor: pointer;
    text-align: center;
    color: rgb(250, 246, 246);
    position: absolute;
    top: 10%;
    left: 28%;
    font-size: 25px;
    letter-spacing: 10px;
    background: rgb(7, 6, 6);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    padding: 18px;
}

}


    /* The overlay effect with black background */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  }
  
  /* The content */
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  /* Close button */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  /* Style the search field */
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }

  body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    
  }
  
  .overlay button:hover {
    background: #bbb;
  }

   /* page3 */


.page3 {

    font-size:x-large;
    text-align: center;

    
}
.card {
  width: 95%;
  height: auto;
  padding: 5px;
  margin: 15px auto;
  border-radius: 5px;
  background-color: #eee;
}